.template-set-editor {
    .template-item {
        width: 100%;

        .template-selector {
            margin-bottom: 10px;

            .ant-select {
                width: 100%;
            }
        }
    }
}
