@import "~antd/dist/antd.less";

.review-table {
    overflow-x: hidden;
    overflow-wrap: anywhere;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    .label-link {
        color: @text-color;
        &:hover {
            text-decoration: underline;
        }
    }
}
